<!-- <textarea rows="6" [value]="newPost" #postInput ></textarea>
<hr>
<button (click)="onAddPost(postInput)">Save post</button> -->
<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="title"
          placeholder="Add a title"
          [ngModel]="post?.title"
          required
          #title="ngModel">
          <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea
          matInput
          rows="6"
          name="content"
          placeholder="Add a message"
          [ngModel]="post?.content"
          required
          #content="ngModel"></textarea>
          <mat-error *ngIf="content.invalid">Please enter a content</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit">Save post</button>
  </form>
</mat-card>
