:host {
    display: block;
    margin: 1rem;
}
.info-text {
    text-align: center;
}
mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
}
